<div class="form-group">
    <label>{{localize "autorotate.enable-ar"}}</label>
    <select
        name="flags.autorotate.enabled"
        data-dtype="JSON"
    >
        <option {{#if selectDefault}} selected {{/if}} value="null">Global Default</option>
        <option {{#if selectYes    }} selected {{/if}} value="true">On</option>
        <option {{#if selectNo     }} selected {{/if}} value="false">Off</option>
    </select>
    <label>{{localize "autorotate.rotation-offset"}}</label>
    <input name="flags.autorotate.offset" type="number" data-dtype="Number" value="{{offsetToSet}}" />
</div>